* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "Rubik Wet Paint";
    src: url(../public/fonts/RubikWetPaint-Regular.woff2);
    font-display: swap;
}

@font-face {
    font-family: "Saira Semi Condensed";
    src: url(../public/fonts/SairaSemiCondensed-Bold.woff2);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Saira Semi Condensed";
    src: url(../public/fonts/SairaSemiCondensed-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Saira Semi Condensed";
    src: url(../public/fonts/SairaSemiCondensed-Regular.woff2);
    font-weight: 400;
    font-display: swap;
}

footer {
    width: 100%;
    height: 404px;
    background-color: #666666;
}